@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
    font-family: "ARN Affiliate Sans";
    src: url("/fonts/ArnAffiliateSans-Regular.otf");
}
* {
    box-sizing: border-box;
    --text-font: "Inter", Arial, Helvetica, sans-serif;
    --logo-font: "ARN Affiliate Sans";
    --background: #4d148d;
    --foreground: #ffffff;
    --text-color: #ffffff;
    --severe-background: #990304;
    --border-1: #b0b0b0;
    --border-2: #990304; /* #edf41f */
    --border-3: #d0d0d0;
}

body {
    margin: 0;
}

#logo-wrapper {
    width: 384px;
    height: 170px;
    position: absolute;
    background-color: var(--background);
    left: 1536px;
    top: 910px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 48px;
    padding-bottom: 26px;
}

#logo {
    width: auto;
    height: 90px;
}

.main {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    background-size: cover;
}

#crawl {
    color: var(--foreground);
    background: var(--background);
    position: absolute;
    top: 864px;
    left: 0;
    height: 46px;
    width: 1536px;
    overflow: hidden;
}
#text-wrapper {
    width: 100%;
    height: 100%;
}
#container {
    display: flex;
    flex-shrink: 0;
    position: relative;
    left: 0;
    width: max-content;
    align-items: center;
    height: 100%;
    transform: translateX(100%);
}
.item {
    display: flex;
    flex-shrink: 0;
    align-items: top;
    margin: 0 10px;
    justify-content: center;
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 20pt;
}
.stock {
    display: flex;
    flex-shrink: 0;
    align-items: top;
    margin: 0 10px;
    justify-content: center;
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 20pt;
}
.logo {
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    font-family: var(--logo-font);
    font-weight: normal;
    font-size: 20pt;
}
#start {
    display: flex;
    flex-shrink: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.header {
    display: flex;
    flex-shrink: 0;
    font-family: var(--text-font);
    font-weight: bold;
    font-size: 20pt;
    align-items: center;
}
#headcont {
    display: flex;
    position: absolute;
    left: 0;
    width: 240px;
    height: 100%;
    justify-content: center;
    background-color: #5c1ca6;
    z-index: 11;
    padding-left: 48px;
}
.headline {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    flex-shrink: 0;
    margin: 0;
    justify-content: center;
    font-family: var(--text-font);
    font-weight: bold;
    font-size: 18pt;
    text-wrap: nowrap;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#datetime-wrap {
    display: flex;
    flex-shrink: 0;
    position: absolute;
    top: 864px;
    left: 1536px;
    height: 46px;
    width: 384px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #808080b0;
    color: var(--foreground);
    z-index: 11;
    padding-right: 48px;
}
#time, #temp {
    display: flex;
    width: fit-content;
    flex-shrink: 0;
    font-family: var(--text-font);
    justify-content: center;
    font-weight: 500;
    font-size: 20pt;
    text-wrap: nowrap;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#greater-mask, #lesser-mask {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    animation-duration: .2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes header-in {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes header-out {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes to-left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes to-right {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}
@keyframes from-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes from-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
